@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

.contato-container {
    width: 100%;
    height: auto;
    padding-top: 15px;
    display: flex;
    justify-content: center;
}

.contentContato {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#contato-box {
    width: 540px;
    height: 640px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid #fff;
}

.contato-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 500px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
}

#form h3 {
    display: block;
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 7%;
    margin-left: 22%;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

label {
    display: block;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

fieldset {
    border: medium none;
    min-width: 100%;
    width: 100%;
    padding: 0;
    margin: 0 0 15px;
}

input {
    display: block;
    width: 100%;
    border-radius: 8px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.contato-textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: 300px;
    max-height: 300px;
    min-height: 300px;
    border-radius: 8px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

button {
    width: 101%;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
}

button:hover {
    box-shadow: 1px 1px 5px 2px #000;
    background-color: #fff;
    color: black;
}

@media(max-width: 768px) {
    .contentContato {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    #contato-box {
        width: 370px;
        height: 640px;
        display: flex;
        flex-direction: column;
        border: 3px solid #fff;
    }

    .contato-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #fff;
        width: 330px;
        height: 600px;
        padding: 20px;
        border-radius: 8px;
    }

    #form h3 {
        display: block;
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 7%;
        margin-left: 17%;
        font-family: 'Kdam Thmor Pro', sans-serif;
    }
}